<footer class="site-footer">
    <div class="container">
        {% block footer_content %}
            <div class="row">
                <div class="col-md-8 footer-links">
                    {% block footer_nav %}
                        <ul class="list-unstyled">
                            {% block footer_links %}
                                <li>
                                    <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a>
                                </li>
                            {% endblock %}
                        </ul>
                    {% endblock %}
                </div>
                <div class="col-md-4 attribution">

                    {% block footer_attribution %}
                <p><strong>Apoiado por</strong><br />
                        <a class="media-image" href="#">
                            <img src="/logo_masc.png" alt="Fundação MASC"
                                 width="260" height="113" style="min-width: 260px"/>
                        </a>

                </p>
                    {% endblock %}
                    {% block footer_lang %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}
</footer>
